<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

</head>
<style>
</style>
<body >
  <br><br>
  <h1 align="center" style="color:rgb(190,190,190);font-family:verdana;font-weight:normal; ">
      <img src="./static/mosquito.jpg" style="width:100px;height:80px;"> Doing Stuff with Mosquitos </h1>

    
  <form method="post" action="/" align="center" style="color:rgb(130,130,130);font-family:verdana;font-weight:normal; ">
      <br>
    <label for="organism">Databases</label><br>
  <select id = "organism" name = "organism">
    <option value="Aedes aegypti (LVP_AGWG) genes (AaegL5.2)">Aedes aegypti (LVP_AGWG) genes (AaegL5.2)</option>
      <option value="Aedes albopictus genes (AaloF1.2)">Aedes albopictus genes (AaloF1.2)</option>
      <option value="Anopheles albimanus genes (AalbS2.6)">Anopheles albimanus genes (AalbS2.6)</option>
      <option value="Anopheles arabiensis genes (AaraD1.11)">Anopheles arabiensis genes (AaraD1.11)</option>
      <option value="Anopheles atroparvus genes (AatrE3.1)">Anopheles atroparvus genes (AatrE3.1)</option>
      <option value="Anopheles christyi genes (AchrA1.7)">Anopheles christyi genes (AchrA1.7)</option>
      <option value="Anopheles coluzzii genes (AcolM1.8)">Anopheles coluzzii genes (AcolM1.8)</option>
      <option value="Anopheles culicifacies genes (AculA1.6)">Anopheles culicifacies genes (AculA1.6)</option>
      <option value="Anopheles darlingi genes (AdarC3.8)">Anopheles darlingi genes (AdarC3.8)</option>
      <option value="Anopheles dirus genes (AdirW1.8)">Anopheles dirus genes (AdirW1.8)</option>
      <option value="Anopheles epiroticus genes (AepiE1.7)">Anopheles epiroticus genes (AepiE1.7)</option>
      <option value="Anopheles farauti genes (AfarF2.6)">Anopheles farauti genes (AfarF2.6)</option>
      <option value="Anopheles funestus genes (AfunF1.10)">Anopheles funestus genes (AfunF1.10)</option>
      <option value="Anopheles gambiae genes (AgamP4.12)">Anopheles gambiae genes (AgamP4.12)</option>
      <option value="Anopheles maculatus genes (AmacM1.5)">Anopheles maculatus genes (AmacM1.5)</option>
      <option value="Anopheles melas genes (AmelC2.6)">Anopheles melas genes (AmelC2.6)</option>
      <option value="Anopheles merus genes (AmerM2.9)">Anopheles merus genes (AmerM2.9)</option>
      <option value="Anopheles minimus genes (AminM1.8)">Anopheles minimus genes (AminM1.8)</option>
      <option value="Anopheles quadriannulatus genes (AquaS1.11)">Anopheles quadriannulatus genes (AquaS1.11)</option>
      <option value="Anopheles sinensis (China) genes (AsinC2.2)">Anopheles sinensis (China) genes (AsinC2.2)</option>
      <option value="Anopheles sinensis genes (AsinS2.5)">Anopheles sinensis genes (AsinS2.5)</option>
      <option value="Anopheles stephensi (Indian) genes (AsteI2.3)">Anopheles stephensi (Indian) genes (AsteI2.3)</option>
      <option value="Anopheles stephensi genes (AsteS1.7)">Anopheles stephensi genes (AsteS1.7)</option>
      <option value="Biomphalaria glabrata genes (BglaB1.6)">Biomphalaria glabrata genes (BglaB1.6)</option>
      <option value="Cimex lectularius genes (ClecH1.3)">Cimex lectularius genes (ClecH1.3)</option>
      <option value="Culex quinquefasciatus genes (CpipJ2.4)">Culex quinquefasciatus genes (CpipJ2.4)</option>
      <option value="Glossina austeni genes (GausT1.7)">Glossina austeni genes (GausT1.7)</option>
      <option value="Glossina brevipalpis genes (GbreI1.7)">Glossina brevipalpis genes (GbreI1.7)</option>
      <option value="Glossina fuscipes fuscipes genes (GfusI1.7)">Glossina fuscipes fuscipes genes (GfusI1.7)</option>
      <option value="Glossina morsitans genes (GmorY1.9)">Glossina morsitans genes (GmorY1.9)</option>
      <option value="Glossina pallidipes genes (GpalI1.7)">Glossina pallidipes genes (GpalI1.7)</option>
      <option value="Glossina palpalis genes (GpapI1.4)">Glossina palpalis genes (GpapI1.4)</option>
      <option value="Ixodes scapularis genes (IscaW1.6)">Ixodes scapularis genes (IscaW1.6)</option>
      <option value="Leptotrombidium deliense genes (LdelU1.0)">Leptotrombidium deliense genes (LdelU1.0)</option>
      <option value="Lutzomyia longipalpis genes (LlonJ1.5)">Lutzomyia longipalpis genes (LlonJ1.5)</option>
      <option value="Musca domestica genes (MdomA1.3)">Musca domestica genes (MdomA1.3)</option>
      <option value="Pediculus humanus genes (PhumU2.4)">Pediculus humanus genes (PhumU2.4)</option>
      <option value="Phlebotomus papatasi genes (PpapI1.5)">Phlebotomus papatasi genes (PpapI1.5)</option>
      <option value="Rhodnius prolixus genes (RproC3.3)">Rhodnius prolixus genes (RproC3.3)</option>
      <option value="Sarcoptes scabiei genes (SscaA1.2)">Sarcoptes scabiei genes (SscaA1.2)</option>
      <option value="Stomoxys calcitrans genes (ScalU1.5)">Stomoxys calcitrans genes (ScalU1.5)</option>

</select>



<br><br>
<label for="genes">Enter Ensembl Gene IDs as comma separated variables (make sure they are present in your species) </label><br>
<input id="genes" type="text" name="gene" value="AAEL003439,AAEL011411,AAEL012522,AAEL012774,AAEL012864,AAEL013263"
       size = "200">


<br><br><br>

<input type = "submit" value="submit" name="submit"> 

</form>

<script type="text/javascript" src="./static/d3.v5.min.js" charset="utf-8"></script>
<script>

</script>
</body>
<html>
